@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.exploreNowButton {
  box-shadow: 0 0 40px #fc6704;
}

.animateSpin{
  animation: spin 1s linear infinite;

}

@keyframes spin {
  0% {
      transform: rotate(0);
  }

  100% {
      transform: rotate(360deg);
  }
}

  