.services {
    background-color: black;
    width: 100%;
    padding: 20px 10px;
    height: 90vh;
}

.listTile {
    background: #AAFFA9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11FFBD, #AAFFA9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 9px 0;
}

.listTile:hover .readmore {
    visibility: visible;
}

.descreption {
    overflow:scroll;
    /* overflow-y: hidden;
    overflow-x: hidden; */
  }
  .descreption::-webkit-scrollbar {
    display: none;
  }